.titleContainer {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  height: 10vh;
  background-color: white;
}

.title {
  font-size: 2em;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
}

.backButton {
  font-size: 3em;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  margin: 0;
  margin-left: 5vw;
}
